.text--rouge{
    color: red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: block;
    height: 60px;
    background-color: royalblue;
    text-transform: uppercase;
}
.nav__item{
    float: left;
    list-style: none;
    padding: 20px 40px;
    text-transform: uppercase;
}
.nav__log{
    float: right;
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: salmon;
    border-radius: 50px;
}
.nav__log:hover{
    background-color: sandybrown;
}